.mainWrap .title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.content {
  position: absolute;
  top: 0;
  margin-top: -9999px;
}
.btnClass {
  display: none;
}
.autoHeight {
  height: auto;
}
.hiddenHeight {
  height: 75px;
}