.userAvatar {
  width: 100px;
  height: 100px;
  display: block;
  margin: 10px auto;
}
.userInfo {
  text-align: center;
  padding-bottom: 10px;
}
.userInfoItem {
  color: #1890ff;
}
.userInfoLastReply {
  padding-left: 48px;
}
.ant-card-body {
  min-width: 250px;
}