.mainWrap {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  overflow: hidden;
  min-height: calc(100vh - 64px - 69px);
}
.mainWrap img {
  max-width: 100%;
}
.mainWrap .ant-list-items {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.mainWrap .ant-list-item-meta {
  align-items: center;
  min-width: 220px;
}
.mainWrap .ant-menu-item:hover,
.mainWrap .ant-menu-item-selected {
  background: #e6f7ff;
}
.indexMenu {
  text-align: center;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
.indexMenu .ant-menu-item:hover,
.indexMenu .ant-menu-item-selected {
  border-right: 2px solid #1890ff;
}
.indexList {
  padding: 0 10px;
}